<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/css/style.css' />
  </head>
  <body>
    <figure>
      <img src="/img/logo-DH.png" alt="Logo Digital House">
    </figure>
    <h1><%= title %></h1>
    <p>Bem vindos a <%= title %></p><br><br>
    <a href="/movies">Ir para a lista de filmes</a><br><br>
    <a href="/genres">Ir para a lista de gêneros</a>
  </body>
</html>
